
*, *::before, *::after {
    box-sizing: border-box;
    font-family: fantasy;
    font-weight: 900;

}
button {
    background-color: rgba(0,0,0,0.1);
    box-shadow: 2px 1px rgba(0,0,0,0.5);
    border: 1px solid black;
    border-radius: 5px;
}


body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00aaff, #00ff6c);
}
.calculator-grid {
    margin-top: 200px;
    display: grid;
    justify-content: center;
    align-content: center;
    min-height 100vh;
    grid-template-columns: repeat(4, 100px); 
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
   
    
}
.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}
.calculator-grid > button:active {
    box-shadow: none;
    transition-duration: 500ms;
}
.calculator-grid > button:hover {
    background-color: rgba(255,255,255,0.35);

}
.span-two {
    grid-column: span 2;
}
.output {
    grid-column: 1 / -1;
    background-color: rgba(0,0,0,0.75);
    color: white;
    border: 2px solid black;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;

}
.output .prev-oper {
    font-size: 1.5rem;
    color: rgba(255,255,255,.75);
}
.output .current-oper {
    font-size: 2.5rem;
}