* {
  box-sizing: border-box;
  /* border: 5px solid white; */
}

:root {
  --bg-color: #fff8f0;
  --bg-color3: #232528;
  --bg-color2: #392f5a;
  --card-color: #bdd9bb;
  --text-color: #232528;
  --accent: #ffc857;
}

body {
  margin: 0 auto;
  margin-bottom: 300px;
  padding: 0;
  padding-bottom: 150px;
  background: linear-gradient(45deg,
                        var(--bg-color2),
                        var(--accent));
  color: var(--bg-color);
  width: 80%;
 
}
h1 {
  text-align: center;
  background-color: var(--bg-color2);
  padding: 40px;
  margin: 5px auto 0px;
  border-radius: 50px 50px 1px 0px;
}
.radius {
  border-radius: 5px;
}
#add-new {
  margin: 0px auto 20px;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: var(--bg-color2);
  border: 5px solid var(--accent);
  border-top: 10px outset var(--accent);
  border-radius: 0px 0px 50px 50px;
  width: 77%;
   box-shadow: 1px 1px 0px 3px rgba(0,0,0,0.5);
   position: fixed;
  bottom: 1%;
  /* left: 50%; */
  right: 11.5%;
  /* opacity: 0.90; */
  
}
#add-new button {
  padding: 10px 15px;
  background-color: var(--accent);
  color: var(--bg-color3);
  font-weight: 900;
  font-size: 20px;
  margin: 5px 20px;
}
#new-tracker-form {
  margin: 10px auto;
  display: flex; 
  justify-content: center;
  width: 100%;
  background-color: var(--bg-color2);
  
  padding: 15px;
  max-width: 500px;
}
label {
  color: var(--bg-color);
  font-size: 18px;
  padding: 10px;
  margin: 0 auto;
  width: 100%;
}
input {
  width: 100%;
  margin: 10px auto;
  padding: 5px;
  border-radius: 5px;
}
#form {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 20px 60px;
  box-shadow: 1px 2px 3px 2px var(--accent);
 
  border: 1px solid var(--bg-color3)
}
.form-buttons {
  margin: 5px auto;
  width: 100%;
}
.form-buttons button {
  margin: 10px auto;
  font-size: 16px;
  padding: 5px 10px;
 
  color: var(--accent);
  background-color: var(--bg-color3);
  border: 1px solid var(--accent);
  width: 100%;
}
span {
  font-size: 2rem;
}
#card-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px auto 150px;
  
}
.card-content {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 500px;
  border: 5px solid var(--accent);
  background-color: var(--bg-color2);
  padding: 80px;
  color: white;
   box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.5);
}
.card-name {
  border-bottom: 3px solid var(--accent);
  box-shadow: 1px 1px 2px 0px var(--accent);
  padding: 5px;
  border-radius: 20px;
}
.card-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.card-btn {
  padding: 10px 40px;
  background: linear-gradient(45deg,
                        var(--bg-color2),
                        var(--accent));
  font-size: 18px;
  font-weight: 900;
  color: white;
}
.card-btn:hover {
  color: var(--accent);
}
.box {
  width: 100%;
  margin: 0px auto;
  border-radius: 0px 20px 200px 190px;
  border-top: 20px outset var(--accent);
  border-left: 30px solid var(--accent);
  border-right: 20px solid var(--bg-color3);
  /* border-bottom: 20px solid transparent; */
  height: 99vh;
  background-color: var(--bg-color3);
  display: flex;
  flex-direction: column;
  /* box-shadow: 2px 3px 3px var(--accent); */
}
.nada {
  font-size: 2rem;
}